# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=
DATABASE_SCHEMA=new_schema

PONDER_RPC_URL_8453=https://lb.drpc.live/base/AnG7lwYuKEWmqWLeThp8fnGXGd6e9xQR8JY3vsZj1RAX
FUNDING_BOOK_ADDRESS=0x77AEe83Ee4cC57DE231B5e466C5D77da1767c634
BORROW_LOGIC_ADDRESS=0x2940fe64e4C092077a123Dcd699379F611a56818
FUNDING_BOOK_START_BLOCK=41215130
BORROW_LOGIC_START_BLOCK=41215130
