# (Optional) Postgres database URL. If not provided, SQLite will be used. 
DATABASE_URL=
DATABASE_SCHEMA=my_schema

PONDER_RPC_URL_8453=https://1rpc.io/base
FUNDING_BOOK_ADDRESS=0x77AEe83Ee4cC57DE231B5e466C5D77da1767c634
BORROWING_LOGIC_ADDRESS=0x2940fe64e4C092077a123Dcd699379F611a56818
FUNDING_BOOK_START_BLOCK=41199756
BORROWING_LOGIC_START_BLOCK=41199756
