# (Optional) Postgres database URL. If not provided, SQLite will be used.
DATABASE_URL=
DATABASE_SCHEMA=new_schema

# Base Mainnet
PONDER_RPC_URL_8453=
FUNDING_BOOK_ADDRESS=
BORROW_LOGIC_ADDRESS=
FUNDING_BOOK_START_BLOCK=
BORROW_LOGIC_START_BLOCK=

# Base Sepolia
PONDER_RPC_URL_84532=
FUNDING_BOOK_ADDRESS_TESTNET=
BORROW_LOGIC_ADDRESS_TESTNET=
FUNDING_BOOK_START_BLOCK_TESTNET=
BORROW_LOGIC_START_BLOCK_TESTNET=
